.friend-enable {
    background-color: #B5DBC7;
}

.friend-disable {
    background-color: #F0B7BD;
}
.friend-follow {
    background-color: #9CE0F9;
}
.list-friends{
    height: 900px;
}
.img-config-action{
    margin-left: 2px;
    margin-right: 2px;
}